# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=premiumdb
MYSQL_USER=
MYSQL_PASSWORD=

# Redis 설정
REDIS_HOST=localhost
REDIS_PORT=6379

# 메일 설정
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password